@import "../variables.scss";


.preventiveForm{
    background-color: $formEmailBackground;
    padding: 50px;
    margin-top: 150px;

    fieldset{
        .form-group{
            padding-bottom: 25px;
            label{
                margin-bottom: 5px;
            }
            .scad-col{
                margin-bottom: 5px;
            }
        }
        .TitleForm{
            
            color: $primaryColor;
            margin-bottom: 30px;
        }

        
    
        .col-6{
            padding: 80px;
    
        }
        .inputDescribe{
            height: 150px;
        }
    }

    
  
}







@media (max-width: 1000px){
    .preventiveForm{
        margin-left: -50px;
        margin-right: 15px;
        margin-top: 150px;
        padding: 10px;
    
        .TitleForm{
            color: $primaryColor;
            margin-bottom: 20px;
        }
        .col-6{
            background-color: $formEmailBackground;
            padding: 0px;
    
        }

        .colText{
            font-size: small;
            position: absolute;
            padding: 60px;
        }
    
        .inputDescribe{
            height: 150px;
        }
    
    
    
    }
    
    

    

}