$primaryBackground: #eee1cc;
$primaryColor: #272556;
$secondaryColor: #f25c05;
$footerColor: whitesmoke;
$linkColor: #565578;
$headerSection:rgb(184, 165, 148);
$SolidityColor: rgb(33, 33, 49);
$NextJsColor:#0e6876;


$dropDownColor: rgb(76, 68, 68);
$formEmailBackground : #FF7F50;



// EVM section
$primaryBackgroundEVM : #f7f1ed;
$primaryColorEVM: #febeb0;
$secondaryColorEVM: #3d5a5b;
$footerColorEVM: #2f365f;